<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
    <%= value %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>

<!-- <%# if alert %> -->
  <!-- <p class="alert"><%= alert %></p> -->
<!-- <%# end %> -->  