<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; <%= Time.current.year %> Reiter Designs, Born in Castle Rock, CO<br />
      <small>~ Modern, solid wood decor &amp; furniture with a twist of metal ~</small></p>
  </div>
</footer>