<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <!-- <h3 class="masthead-brand">Reiter Designs</h3> -->
          <%= link_to image_tag('reiter-designs-logo-sm.png'), root_path, class: 'masthead-brand' %>
          <nav class="nav nav-masthead">
            <!-- <a class="nav-link active" href="#">Home</a> -->
            <%= link_to 'Products', products_path, class: 'nav-link' %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover cover-bg">
        <h1 class="cover-heading">Coming Soon!</h1>
        <p class="lead">Stay tuned for the release of our first handmade desk!</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-info">Sneak Peek...</a>
        </p>
      </main>

      <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"4a589c5131c9fee5557fedeb1","lid":"e72abc0db6"}) })</script>

      <footer class="mastfoot">
        <div class="inner">
          <p style="color:#fff;">&copy; <%= Time.current.year %> Reiter Designs, Born in Castle Rock, CO<br />
            <small>~ Modern, solid wood decor &amp; furniture with a twist of metal ~</small></p>
        </div>
      </footer>

    </div>

  </div>

</div>