@import "bootstrap";
@import 'lightbox';

/*
 * Globals
 */

 $dark-gray: #737371;

 .alert {
  text-shadow: none;
 }

/* Links */
a {
  color: $dark-gray;
}
a:focus,
a:hover {
  color: lighten($dark-gray, 30%);
  text-decoration: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  height: 100%;
  // background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background: image-url('wood.jpg') no-repeat; // cover.jpg
  background-size: cover;
  h1 {
    font-family: 'Open Sans', sans-serif;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 2rem 0 0 0; //.25rem instead of 2
  // font-weight: 700;
  // color: rgba(255, 255, 255, .5);
  color: $dark-gray; //#fff
  font-size: 22px; // 20px
  text-shadow: none;
  // text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .7)
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  // border-bottom-color: rgba(255, 255, 255, .25);
  color: lighten($dark-gray, 20%);
  border-bottom-color: lighten($dark-gray, 20%);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-auth-links {
  margin-left: 1rem;
  padding: 2rem 0 0 0;
  font-size: 22px;
  text-shadow: none;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-auth-links:hover,
.nav-masthead .nav-auth-links:focus {
  color: lighten($dark-gray, 20%);
  border-bottom-color: lighten($dark-gray, 20%);
}

.nav-login {
  color: $dark-gray;
}
.nav-logout {
  color: red;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  color: $dark-gray; 
  text-shadow: none;
  h1 {
    font-size: 50px;
  }
}
.cover .btn-lg {
  font-family: 'Open Sans', sans-serif;
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.btn-cover {
  color: #fff;
  background: image-url('btn-bg-2.jpg')!important;
  background-size: contain;
  background-color: transparent;
  border-color: transparent;
  &:hover, &:focus, &:active {
    color: darken(white, 10%);
    box-shadow: inset 0px 0px 26px rgba(0,0,0,0.9);
    background-color: transparent;
  }
}

.cover-bg {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.3);// .3
  border-radius: 5px;
}

/*
 * Devise
 */
 .card-body {
   color: $dark-gray;
   text-align: left;
   text-shadow: none;
 }

 .auth-links {
   text-shadow: none;
   font-weight: 300;
 } 

 .login > .card {
   width: 22rem;
   margin: 0 auto;
   float: none;
 }


/*
 * Footer
 */
.mastfoot {
  // color: rgba(255, 255, 255, .5); if uncomment remove all below
  .inner {
    p {
      color: black;
      text-shadow: none;
    }
  }  
}


/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}