<div class="container">
  <div class="row">  
    <div class="col-md-6 offset-md-3">   
      <div class="card new-product-card">         

        <h1 class="card-title">Editing Product</h1>

        <%= render 'form', product: @product %>

        <p><%= link_to 'Show', @product %> | <%= link_to 'Back', product_path(@product) %></p>

      </div>
    </div>
  </div>
</div>        
