<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">

      <div class="row">

        <% if @products %>
          <% @products.each do |p| %>
            <div class="col-md-4"%>
              <div class="card">
                <%= holder_tag '328x200' %>
                <h4 class="card-title"><%= p.title.titleize %></h4>
                <p class="card-text"><%= p.desc %></p>
              </div> 
            </div>   
          <% end %> 
        <% end %> 
        
      </div>

    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; <%= Time.current.year %> Reiter Designs, Born in Castle Rock, CO<br />
      <small>~ Modern, solid wood decor with a twist of metal ~</small></p>
  </div>
</footer>


