<!DOCTYPE html>
<html>
  <head>
    <title>ReiterDesigns</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300|Open+Sans:300" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
